* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-green: #007f13;
    --radius: 5px;
}


main {
    min-height: 800px;
    background-color: var(--background-green);
}

#tableau {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    min-height: 100%;
    padding: 2rem;
}

.tableau-column {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80vw;
}

.empty-card {
    position: absolute;
    box-shadow: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #f1f1f1;
    border-radius: var(--radius);
    background-color: white;
    min-height: 180px;
    min-width: 120px;
}

#main-top {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
}

.foundation {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.foundation-column {
    background-color: yellow;
    margin-right: 2rem;
}


.card-wrapper {
    background-color: transparent;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border-radius: var(--radius);
    transform: translateY(calc(-140px * (var(--custom-index))));
    background-color: white;
    min-height: 175px;
    min-width: 120px;
}

/* This container is needed to position the front and back side */
.card-wrapper-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.reversed {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    min-height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
    background-color: rgb(187, 187, 187);
    color: black;
}

/* Style the back side */
.card-back {
    background-color: dodgerblue;
    color: rgb(254, 88, 88);
    transform: rotateY(180deg);
}

.card-front img {
    max-width: 100%;
}