.deck {
    position: relative;
}

.deck-cards {
    position: absolute;
    top: 0;
}

.pack {
    display: block;
}

.opened-cards {
    display: flex;
    position: absolute;
    left: -500px;
}

.opened-cards div {
    top: 0 !important;
}

.pack.card-wrapper {
    min-height: 176px;
}