.stock {
    position: relative;
}

.stockCards {
    position: absolute;
    top: 0;
}

.waste {
    display: block;
}

.wasteCard {
    /* position: absolute;
    left: -100px; */
    transition: append-animate .3s linear;
}

.wasteCards {
    display: flex;
    position: absolute;
    left: -400px;
}

.wasteCards div {
    top: 0 !important;
}

.stock.card-wrapper {
    min-height: 176px;
}

@keyframes append-animate {
    from {
        transform: scale(0);
        opacity: 0;
        /* background: #5470B0; */
      }
}