
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-green: #007f13;
  --radius: 5px;
}


main {
  min-height: 800px;
  background-color: var(--background-green);
}

#tableau {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
  min-height: 100%;
}

.tableau-column { 
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 80vw;
  /* background-color: lightblue; */
}

.card {
  background-color: white;
  border-radius: var(--radius);
  min-height: 200px;
  min-width: 120px;
  transform: translateY(calc(-160px * (var(--custom-index))));
  cursor: move;
  box-shadow: 2px -3px 3px rgba(0, 0, 0, 0.3);
  
  /* temporary fix card titles */
  text-align: center;
  padding-top: 10px;
  /* Card title fix */
}

.card.reversed {
  background-color: red;
}