
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-green: #007f13;
  --radius: 5px;
}


main {
  min-height: 800px;
  background-color: var(--background-green);
}

#tableau {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
  min-height: 100%;
}
